 
body 
{
    background-color: black;
} 
.card {
   padding: 3px; 

}
@media only screen and (max-width: 600px) 
{
    #text1
    {
        color: white; 
        font-weight: 700; 
        font-size: 2.3em; 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
        text-align: center;
    }
} 

@media only screen and (min-width: 992px) 
{
    #text1
    {
        color: white;
        font-weight: 700; 
        font-size: 3em; 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
        text-align: center;
    }
}