@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500&display=swap');


#card1{
  margin-top: -440px;
  margin-left: 72px;
  width: 25%;
  height: auto;
}




.my-container {
  position: relative;
  overflow: hidden;
  height: 676px;
}
.my-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  /* opacity: 0.6; */
}